.navbar
{
    display: flex;
    height: 4rem;
    background-color: rgb(0, 0, 0);
    color: rgb(187, 222, 231);
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

